@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }
    
html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    
    background-color: #E7E5D9;
}

*, *::before, *::after {
box-sizing: inherit;
}

main {
    font-family: 'Abril Fatface', serif;
}

.masthead {
    background: transparent url("../img/masthead-bg.png") repeat left center;
    text-align: center;
}

.star {
    width: 35px;
}

.photo {
    border-image: url("../images/frame.png") 69 69  69 69 stretch stretch;
    border-bottom-width: 69px 69px 69px 69px;
}

img {
    width: 100%;
}

.info {
    background-color: #87714F;
    background-image: url("../images/hat.svg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 80px 80px;
    color: white;
    letter-spacing: 1px;
    padding-top: 5em;
}

.reward {
    text-align: center;
    line-height: 1.5em;
}

.list {
    line-height: 1.5em;
    font-family: serif;
}

.crimes {
    text-align: center;
}



@media only screen and (min-width: 25em) {
    
}


@media only screen and (min-width: 38em) {
    
    .info {
    background-color: #87714F;
    background-image: url("../images/hat.svg"), url("../images/cuffs.svg");
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    background-size: 80px 80px, 80px, 80px;
    color: white;
    letter-spacing: 1px;
    padding-top: 5em;
}
    
    
}

@media only screen and (min-width: 60em) {
    
}


@media only screen and (min-width: 90em) {
    
}



